.servicePart {
    padding-top: 100px;
    background: #E5E5E5;

}

.servicePart__title {
    text-align: center;
}

.servicePart__heding {
    font-size: 40px;
    font-family: var(--inter);
    font-weight: 700;
    color: var(--primary_text_color);
}

.servicePart__details {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--inter);
    line-height: 27px;
    color: var(--primary_text_color);
    opacity: 70%;
    max-width: 542px;
    margin: 0 auto;
    padding-top: 20px;
}

.serviceAllCard {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.service__box {
    padding: 48px 63px;
    background: #fff;
    max-width: 370px;
}

.service__box__icon {
    font-size: 37px;
    padding: 17px;
    color: var(--main_blue_color);
    border: 1px solid var(--main_blue_color);
    border-radius: 10px;
    line-height: 37px;
    margin: 0;
}

.service__box__heding {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 700;
    font-family: var(--inter);
    color: var(--primary_text_color);
}

.service__box__detials {
    margin-top: 20px;
    font-size: 16px;
    font-family: var(--inter);
    font-weight: 400;
    color: var(--primary_text_color);
    opacity: 70%;
}