.mainNav {
    padding: 34px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navMenu__main {
    display: flex;
    column-gap: 50px;
}


.logo {
    object-fit: cover;
}

.navList {
    font-size: 18px;
    font-family: var(--inter);
    font-weight: 500;
    color: var(--primary_text_color);
    transition: linear .4s;

}

.navList:hover {
    color: var(--main_blue_color);
    font-weight: 600;
}

.N_btn {
    padding: 13px 24px;
    border-radius: 10px;
    background: var(--main_blue_color);
    color: #fff;
    font-size: 18px;
    font-family: var(--inter);
    font-weight: 500;
    border: 3px dotted transparent;
    transition: .4s;
}

.N_btn:hover {
    background: #fff;
    color: var(--main_blue_color);
    border-color: var(--main_blue_color);
}